.stories.default .story > .item-link {
    text-decoration: none;
    color: #333;
  }
  .stories.default .story > .item-link > .item-preview {
    padding: 2px;
    background: radial-gradient(ellipse at 70% 70%, #ee583f 8%, #d92d77 42%, #bd3381 58%);
  }
  .stories.default .story > .item-link > .item-preview img {
    border: 3px solid #fff;
  }
  
  .stories.default .story.seen {
    opacity: 0.75;
  }
  .stories.default .story.seen > a > .item-preview {
    background: #999;
  }
  .stories.default .story.seen > a {
    color: #999 !important;
  }
  